* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 0px 40px;
    position: fixed;
    width: 100%;
    z-index: 30;
    background-color: white;
}

.logo img {
    width: 100px;

}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    align-items: center;
}

.button_container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;

}

.button_container button {
    background-color: rgb(0, 64, 16);
    color: white;
    padding: 14.5px 32px;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;

}

.button_container .arrow {
    background-color: rgb(0, 64, 16);
    padding: 14.3px 10px;
    border-left: white solid 1px;
}



.slider-container {
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide1 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/ship.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide1 .info {
    color: white;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide1 .info .big {
    font-size: 50px;
    margin-left: 10%;
}

.slide1 .info .small {
    font-size: 20px;
    margin-right: 20%;
}

.slide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide2 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/tab.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide2 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.slide3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide3 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/bb_slide_e2b975be0d.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide3 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide4 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/solar.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide4 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide5 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/workers\ on\ ship.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide5 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button {
    border-radius: 50%;
    /* padding: 20px; */
    height: 55px;
    width: 55px;
    border: none;
    margin: 2px;
    background-color: rgb(249, 231, 70);
    cursor: grab;
    /* font-size: 30px; */
}

.object{
    margin-left: 13%;
    margin-top: -10%;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
   
}
.object .line{
    width: 600px;
    margin-left: 30px;
}
#big_line {
    background-color: yellow;
    height: 9px;
    width: 20%;
    margin-top: -7.5px;
    transition: width 0.5s ease;
}
.small_line{
    background-color: white;
    height: 6px;
    width: 100%;
    
}

.mass_container {
    display: flex;
    padding: 0px 10%;
}

.mass_container .info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mass_container .info_container .in_box {
    /* background-color: palegoldenrod; */
    padding: 0px 50px;
    border-left: gainsboro solid 1px;

}

.mass_container .info_container .in_box p {
    font-size: 16px;
    /* margin: 0px; */
}

.mass_container .info_container .in_box h2 {
    font-size: 50px;
    margin: 0px;
}

.green {
    color: rgb(29, 103, 49);
}

.oil_container {
    border: black 1px solid;
    display: flex;
    margin: 0px 20%;
}

.oil_container .can_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid black 1px;
    padding: 40px 0px;
}

.oil_container .can_container .can {
    border-left: solid 0.5px gainsboro;
    border-right: solid 0.5px gainsboro;

}

.oil_container .can_container .can img {
    padding: 0px 20px;
    border-left: solid 0.5px gainsboro;
    border-right: solid 0.5px gainsboro;
}

.oil_container .can_container .no {
    font-size: 50px;
    font-weight: bolder;
}

.oil_container .can_container p {
    font-size: 20px;
    margin-bottom: 30px;
}

.oil_container .poeple_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid black 1px;
    padding: 40px 0px;
}

.oil_container .poeple_container .people {
    border-left: solid 0.5px gainsboro;
    border-right: solid 0.5px gainsboro;
    margin-bottom: 15px;

}

.oil_container .poeple_container .people img {
    padding: 0px 20px;
    border-left: solid 0.5px gainsboro;
    border-right: solid 0.5px gainsboro;

}


.oil_container .poeple_container .no {
    font-size: 50px;
    font-weight: bolder;
}

.oil_container .poeple_container p {
    font-size: 20px;
    margin-bottom: 30px;
}

.back_img {
    width: 100%;
    height: 100vh;
}

.back_img .first {
    background-image: url(./image/years-of-existence-cloud.0f638b6.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

.back_img .second {
    background-image: url(./image/yellow-circle.d5f888e.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    margin-top: -100vh;

}

.back_img .third {
    background-image: url(./image/landscape.246ab52.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    margin-top: -100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0 20%; */

}

.back_img .third h1 {
    font-size: 150px;
    margin: 100px 0px 0px 0px;

}

.back_img .third p {
    font-size: 25px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;

}

.news_container {
    padding: 10px 4%;
}

.news_container h1:nth-child(1) {
    padding: 20px 0px;
    border-bottom: solid black 2px;
    font-weight: lighter;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 42% 28% 28%;
    margin-top: 30px;
}

.bignews {

    /* background-color: orange; */
    /* object-fit: cover; */

    grid-row: 1 / span 2;
    border-bottom: solid 1px black;

}

.bignews img {
    object-fit: cover;
    width: 100%;
    height: 415px;
}

.bignews .down {
    display: flex;
}

.bignews .down .head {
    background-color: gold;
    padding: 20px;
    font-size: 17px;
    width: 20%;
    margin-top: -3px;
}

.bignews .down .date {
    width: 80%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.news_container .smallnew {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.news_container .smallnew h3 {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(207, 205, 205);
}

.news_container .smallnew .link {
    color: green;
    font-size: 13px;
}

.news_container .smallnew:hover {
    background-image: url(./image/group\ pic.jpeg);
    background-size: cover;

}

.news_container h1 {
    font-weight: lighter;
    margin-top: 30px;
}