.slider-container {
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide1 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/ship.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide1 .info {
    color: white;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.slide1 .info .big {
    font-size: 50px;
    margin-left: 10%;
}

.slide1 .info .small {
    font-size: 20px;
    margin-right: 20%;
}

.slide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide2 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/tab.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide2 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.slide3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide3 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/bb_slide_e2b975be0d.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide3 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide4 {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
}

.slide4 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/solar.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide4 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide5 .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./image/workers\ on\ ship.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.slide5 .info {
    color: white;
    font-size: 50px;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    margin: 2px;
    background-color: rgb(249, 231, 70);
    cursor: grab;
}



#big_line {
    background-color: yellow;
    height: 10px;
    width: 20%;
    margin-top: 10px;
    transition: width 0.5s ease;
}